<h1>Subjects#index</h1>
<p>subjects page</p>
<%= link_to 'New Subject', new_subject_path %>
<p></p>
<table>
    <tr>
        <th>Subject</th>
    </tr>
    
    <%= @subjects.each do |s| %>
    <tr>
           <td><%= link_to s, controller: 'courses' %></td> 
        </tr>
    <% end %>
</table>