<h1>Subjects#index</h1>
<p>subjects page</p>

<table>
    <tr>
        <th>Subject</th>
    </tr>
    
    <%= @subjects.each do |s| %>
    <tr>
           <td><%= s.subject %></td> 
        </tr>
    <% end %>
</table>